.container
{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

body
{
    padding: 0;
    margin: 0;
    background: url("img/background.jpg") no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;	
}

*,
*::after,
*::before {
   box-sizing: border-box;
}



.header
{
    height: 5em;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: black;
}

.headerMenu
{
    padding-bottom: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo
{
    font-size: 35px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}

.logo a 
{
    color: #FF7C00;
    text-decoration: none;
}


.navigation
{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}

.CommonObj
{
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;

    color: #FF7C00;
    text-decoration: none;

    transition: color 0.2s linear;
}

.CommonObj:hover
{
    color: #A65100	;
}

/* Mid */

.mainBlock
{
    height: 100vh;
}

.mainContainer
{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20%;
    padding-right: 20%;
}

.textArea h1
{
    font-size: 110px;
    color: #FF7C00;
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0 auto;
}

.linkArea
{
    padding-top: 5%;
    display: flex;
    justify-content: space-around;
}

.linkArea a
{
    text-decoration: none;
    font-size: 150px;
    color: white;
    font-family: 'Nanum Gothic', sans-serif;
    transition: 0.6s;
}

.linkArea a:hover
{
    color: #315E90;
}

/* Footer */
.footer
{
    background: black;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p
{
    font-family: sans-serif;
    color: white;
    font-size: 15px;
}

@media screen and (min-width: 300px) and (max-width: 480px) {
    .header
    {
        height: 3em;
    }

    .logo
    {
        font-size: 15px;
    }

    .navigation
    {
        font-size: 10px;
    }

    .container
    {
        max-width: 290px;
    }

    .mainContainer
    {
        max-width: 290px;
        padding-top: 40%;
        padding-right: 10%;
    }

    .textArea h1
    {
        font-size: 20px;
    }

    .linkArea a
    {
        font-size: 50px;
    }

    .footer
    {
        height: 40px;
    }

    .footer p
    {
        font-size: 9px;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .header
    {
        height: 4em;
    }

    .logo
    {
        font-size: 22px;
    }

    .navigation
    {
        font-size: 14px;
    }

    .container
    {
        max-width: 450px;
    }

    .mainContainer
    {
        max-width: 450px;
        padding-top: 30%;
        padding-right: 10%;
    }

    .textArea h1
    {
        font-size: 30px;
    }

    .linkArea a
    {
        font-size: 55px;
    }

    .footer
    {
        height: 40px;
    }

    .footer p
    {
        font-size: 9px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container
    {
        max-width: 700px;
    }

    .mainContainer
    {
        max-width: 700px;
        padding-top: 25%;
        padding-right: 5%;
    }

    .textArea h1
    {
        font-size: 50px;
    }

    .linkArea a
    {
        font-size: 65px;
    }

    .footer
    {
        height: 80px;
    }

    .footer p
    {
        font-size: 13px;
    }
}

@media screen and (min-width: 1440px) and (max-width: 1960px) {
    .container
    {
        max-width: 1000px;
    }

    .mainContainer
    {
        max-width: 900px;
        padding-top: 20%;
        padding-right: 10%;
    }

    .textArea h1
    {
        font-size: 60px;
    }

    .linkArea a
    {
        font-size: 90px;
    }

    .footer
    {
        height: 90px;
    }

    .footer p
    {
        font-size: 15px;
    }
}
