<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styleBasket.css.css" th:href="@{/styleBasket.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/font_awesome/css/font-awesome.min.css" th:href="@{/font_awesome/css/font-awesome.min.css}">
    <title>PCBUY</title>
</head>
<body>
    <header class = "header">
        <div class="container">
            <div class="headerMenu">
                <div class="logo"><a href="/home">PCBUY</a></div>

                <div class="navigation">
                    <a class = "CommonObj" href="/catalog">Каталог</a>
                    <a class = "CommonObj" href="/cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                    <a class = "CommonObj" href="/contact"><i class="fa fa-phone" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
 </header>
        <div class="mainBlock">
            <div class="mainContainer">
                <div class="cartBlock">
                    <table>
                        <tr>
                            <th>Название</th>
                            <th>Тип</th>
                            <th>Цена</th>
                            <th></th>
                        </tr>
                        <tr th:each="addItem : ${addItems}">
                            <td th:text="${addItem.item.name}"></td>
                            <td th:text="${addItem.item.type}"></td>
                            <td th:text="${addItem.item.price}"></td>
                            <td>
                                <form method="POST" th:action="@{/cart/delete}">
                                    <input type="hidden" th:name="id" th:value="${addItem.id}" />
                                    <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
                                </form>
                            </td>
                        </tr>
                    </table>
                    <p>Итого: <span th:text="${T(com.course.Course.project.entity.AddItems).countTotal(addItems)}"></span> ₽</p>
                    <div class="cartBlock">
                        <form method="POST" th:action="@{/order}">
                            <label>Введите личные данные: </label>
                            <input type="text" placeholder="Имя покупателя" name="name">
                            <input type="text" placeholder="Номер телефона" name="phoneNumber">
                            <button type="submit">Оформить заказ</button>
                        </form>
                    </div>
                </div>
              </div>


            </div>

        <footer class="footer">
            <p>
                2023 &copy; Popov Ivan MIREA. ALL RIGHTS RESERVED
            </p>
        </footer>
</body>
</html>