<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styleContact.css" th:href="@{/styleContact.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/font_awesome/css/font-awesome.min.css" th:href="@{/font_awesome/css/font-awesome.min.css}">
    <title>PCBUY</title>
</head>
<body>
    <header class = "header">
        <div class="container">
            <div class="headerMenu">
                <div class="logo"><a href="/home">PCBUY</a></div>

                <div class="navigation">
                    <a class = "CommonObj" href="/catalog">Каталог</a>
                    <a class = "CommonObj" href="/cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                    <a class = "CommonObj" href="/contact"><i class="fa fa-phone" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
 </header>
        <div class="mainBlock">
            <div class="mainContainer">
                <div class="textArea">

                    <h1>Связаться с автором</h1>

                    <div class="linkArea">
                        <a class="media"href="https://t.me/peredelivay"><i class="fa fa-paper-plane" aria-hidden="true"></i></a>
                        <a class="media" href="https://vk.com/p0wp0w"><i class="fa fa-vk" aria-hidden="true"></i></a>
                    </div>
                    
                </div>
            </div>
            
        </div>

        <footer class="footer">
            <p>
                2023 &copy; Popov Ivan MIREA. ALL RIGHTS RESERVED
            </p>
        </footer>
</body>
</html>